@using CareerApp.Mvc.Views.Company;
@model UserDetailsAndJobPostings

@{
    Layout = "_Layout";
}


<div class="container">
    <div class="row">
        <div class="col-md-3" style="border:solid 1px red">
            <!-- Kullanıcı Bilgileri -->
            <h4>Şirket Bilgileri</h4>
            <p>Adı: @Model.Company.Name.ToUpper()</p>
            <p>Kullanıcı Adı: @Model.Company.Username</p>
            <p>E-posta: @Model.Company.Email</p>
            <p>Telefon No: @Model.Company.PhoneNumber</p>
            <a href="@Url.Action("UpdateCompany", "Company",new { companyId = Model.Company.Id })" class="btn btn-success">Bilgileri Düzenle</a><br /><br />
            <a href="@Url.Action("Applicants", "Company",new { companyId = Model.Company.Id })" class="btn btn-success">Başvurular</a><br /><br />
            <a href="@Url.Action("CreateNewJobPosting", "Company",new { companyId = Model.Company.Id })" class="btn btn-success">Yeni İlan Oluştur</a><br /><br />
            <form method="post" action="/Company/Logout">
                <button class="btn btn-danger type="submit">Çıkış Yap</button>
            </form>
        </div>


        <div class="col-md-9">
            <h2>Verdiğiniz İş İlanları</h2>

            <div class="row">
                @foreach (var jobPosting in Model.jobPostingDisplayResponses)
                {
                    <div class="col-md-4" style="border: 1px solid black;">
                        <div class="job-listing">
                            <h4>@jobPosting.Tittle</h4>
                            <p>Açıklama: @jobPosting.Description</p>
                            <p>Şartlar: @jobPosting.Terms</p>
                            <p>İlan Tarihi: @jobPosting.ListingDate</p>
                            <p>İlan No: @jobPosting.Id</p>
                            @if (jobPosting.Status == true)
                            {
                                <p>İlan Durumu: Aktif</p>
                            }
                            else
                            {
                                <p>İlan Durumu: Pasif</p>
                            }
                        </div>
                        <div>
                            <a href="@Url.Action("ChangeJobPostingStatus", "Company",new { jobPostingId = jobPosting.Id })" class="btn btn-danger">İlan yayın durumunu Değiştir</a>

                        </div>
                    </div>

                    <br />

                    <br />

                }
            </div>

            <!-- Sayfalama işlemleri -->
            @{
                int pageCount = (int)Math.Ceiling((double)Model.jobPostingDisplayResponses.Count() / 9);
            }

            <!-- ... -->

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @for (int i = 1; i <= pageCount; i++)
                    {
                        <li class="page-item"><a class="page-link" href="?page=@i">@i</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

