@using CareerApp.Mvc.Views.Home;
@model JobAndCityList

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <h2>İş Arayan Girişi</h2>
    <form action="/Home/JobSeekerLogin" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" required placeholder="Kullanıcı Adı">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" required placeholder="Şifre">
        </div>
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </form>
    @if (ViewBag.LoginErrorMessage != null)
    {
        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }
    <h2>Yeni İş Arayan Kaydı</h2>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }


    <form asp-controller="Home" asp-action="CreateNewJobSeeker" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" required placeholder="İsim">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="surname" name="surname" required placeholder="Soyisim">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" required placeholder="Kullanıcı Adı">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="Password" required placeholder="Şifre">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="age" name="Age"  placeholder="Yaş">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="Email"  placeholder="Email">
        </div>
        <div class="form-group">
            <input type="tel" class="form-control" id="phone" name="PhoneNumber" placeholder="Telefon Numarası">
        </div>
        <div class="form-group">
            <select id="jobs" name="JobId">
                @foreach (var job in Model.Jobs)
                {
                    <option value="@job.Id">@job.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <select id="cities" name="CityId">
                @foreach (var city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    </form>

</body>
</html>
